<!DOCTYPE html>
<html>
    <head> 
	<img src="assets/images/logo.jpg" width="150" height="150"> 
	    <title>Services</title>

		<link href= "css/styles.css" rel="stylesheet" type="text/css" /> 
		
		
	    <h1 style="color:white;">Services</h1>
<div class="container">
	
		 
			 
		<body style="background-color:#ff00ff;">
	    <h2 style="color:white;">Engela's Nails and Beauty Salon opens her home Salon June 2023 with the aim to give great service to her customers with prices that is affordable for any woman out there that wants to treat herself.
		Engela is caring, creative and  dedicated to doing great nails and giving her clients amazing experiences.

 

She is  always looking for the best, most natural products that  can be found and when you walk into her salon, you will be greeted with a welcome smile. Every moment of your visit should be enjoyable and relaxed</h2>
			<img src="/assets/images/salon1.jpg"width="150">
			<img src="/assets/images/salon2.jpg"width="150">
			<img src="/assets/images/salon3.jpg"width="250">
			<img src="/assets/images/salon4.jpg"width="250">
			<img src="/assets/images/salon5.jpg"width="250">
			
		<h3>The Salon</h3>
		<p>
		    		
		
        <p>
		
    </body>
</html>	
			